.hero {
	position: relative;
	background-size: cover;
	background-position: right;
	width: 100%;
	min-height: calc(100vh - 120px);

	&-content {
		position: absolute;
		top: 25%;
		right: 8%;

		&-title {
			font-size: calc(16px + 2vw);
			margin: 0;

			p {
				margin: 0;
			}
		}
	}
}
