.hero {
	position: relative;
	background-size: cover;
	background-position: right;
	width: 100%;
	min-height: 100vh;

	&-content {
		position: absolute;
		top: 5rem;
		right: 8rem;

		&-title {

		}

		&-text {
			max-width: 40ch;
		}
	}
}
