*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-family: "Mina", sans-serif;
	color: white;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 100vh;
	margin: 0;
	background: url("/dark-wood.png");
}

.mobile {
	display: none;
}

@media (max-width: 600px) {
	.desktop {
		display: none !important;
	}
	.mobile {
		display: unset;
	}
}