.services {
	width: 100%;

	&-content {
		display: flex !important;
		justify-content: center;
		align-items: center;
		padding: 0 100px;

		&-text {
			font-size: 24px;
		}
	}

	&-img {
		width: 100%;
		padding: 100px 50px;
	}
}